
<div class="marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Use <span class="text-muted">Google Maps</span> to input places and calculate your <span class="text-muted">Minimum Spanning Tree</span></h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <i class="fa fa-connectdevelop fa-5x connect-develop"></i>
    </div>
  </div>

  <%= link_to "Get Started", new_minimum_spanning_tree_path, class: "btn btn-success" %>

  <hr class="featurette-divider">


</div>