
<div class="marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 home-left">
      <h2 class="featurette-heading">Use <span class="text-muted">Google Maps</span> to input locations and calculate your <span class="text-muted">Minimum Spanning Tree</span></h2>
      <p class="lead">
        This application showcases an example of creating and editing minimum spanning trees in a visual manner by using the Google Maps API.
        Use this application to enter map based locations.  Locations will become nodes in the minimum spanning tree, and the shortest routes between the locations will be used
        in calculating the edges and the overall minimum spanning tree, which is plotted visually.
        Please visit <a href="http://apleroy.com" target="_blank"> apleroy.com</a> for a full overview and tutorial for this application.
      </p>
      <%= link_to "Get Started", new_minimum_spanning_tree_path, class: "btn btn-success button-home" %>
    </div>
    <div class="col-md-5 home-right">
      <i class="fa fa-connectdevelop fa-5x connect-develop"></i>
    </div>

  </div>


  <hr class="featurette-divider">


</div>