// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.connect-develop {
  font-size: 20em;
}

.button-home {
  width: 100%;
}

.home-right {
  text-align: center;
  margin-top: 50px;

}

.rails-index-select {
  float: right;
  margin-right: 5px;
  margin-left: 5px;
}